@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: #000000;
  --background-start-rgb: #D6DBDC;
  --background-end-rgb: #FFFFFF;
  --bodyLight: whitesmoke;
  --bodyDark: #171C26;
  --textLight: whitesmoke;
  --textMed: #777777;
  --backgroundBlueLight: #52B5F2;
  --backgroundBlueDark: #1e2432;
  --buttonRedLight: #DE2E39;
  --buttonRedDark: #c3112d;
  --dividerLight: rgba(0, 0, 0, 0.12);
  --dividerDark: #0570B4FF;
  --dividerDar: hotpink;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
